.form-input-button {
  text-align: center;
  margin: 1rem 0;

  .form-button {
    box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
    background-color: $primary-color;
    border: none;
    width: max-content;
    padding: 0.4rem 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    cursor: pointer;

    &:hover {
      background-color: $info-color;
    }
  }
}
