.card {
  border-radius: 0;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  position: relative;

  .card-header {
    padding: 20px 25px;
    text-align: center;
    background-color: transparent;
    border: none;

    h3 {
      font-size: 2rem;
    }
  }

  .card-footer {
    border-top: 1px solid #f1f1f1;
    background: transparent;
    padding: 25px;
  }

  .card-block,
  .card-body {
    padding: 30px 25px;

    .card-input {
      .ant-form-item-control-input {
        // background: $theme-background;

        .ant-input,
        .ant-input-password {
          background-color: transparent;
          // padding: 0.6rem;
          border-radius: 0.3rem;
        }
      }
    }

    .other-links {
      text-align: center;
    }
  }

  &.card-load {
    position: relative;
    overflow: hidden;

    .card-loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: rgba(256, 256, 256, 0.7);
      z-index: 999;

      i {
        margin: 0 auto;
        color: $primary-color;
        font-size: 24px;
        align-items: center;
        display: flex;
      }
    }
  }
}

.project-card {
  box-shadow:
    0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03),
    0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03),
    0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05),
    0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);
}

.project-details-page-container {
  .project-card {
    overflow: hidden;

    .other-info {
      @include flex(false);

      position: absolute;
      top: -25px;
      right: -25px;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      // background: linear-gradient(to right, #01a9ac, #01dbdf);
      background: $theme-color1;
    }
  }

  .line {
    border-top: 1px solid rgb(241, 241, 241);
  }

  .ant-progress-outer {
    margin: 0 !important;
    padding: 0 !important;
  }

  .ant-progress-line {
    display: flex !important;
    align-items: center;
  }

  .ant-progress-text {
    font-size: 1rem;
    color: #333;
  }

  .ant-select.ant-select-show-arrow {
    width: 100%;
  }

  .pause-timer,
  .resume-timer {
    cursor: pointer;
    transition: all 650ms;

    &:hover {
      top: 2px;
      color: lighten($theme-color1, 4) !important;
      box-shadow: none !important;
      transform: scale(1.1);
    }
  }

  .anticon-play-circle,
  .anticon-pause-circle {
    box-shadow: 0 8px 6px -6px rgb(92, 91, 91);
    color: $theme-color1 !important;
    border-radius: 50%;
    pointer-events: none;
  }

  .timer-button {
    .pause-timer {
      display: none;
    }

    button {
      background: transparent;
      border: none;
      outline: none;
    }
  }
}
